
html {
  font-size: 14px;
}

body {
 
  text-align: center;
  margin: 0;
  font-family: 'Spartan', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./img/super-mario-bros.jpg')  
  no-repeat center center fixed;
  background-size: cover; /* define cómo se va a mostrar la imagen a establecer en el fondo; */
  
 

} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
