.grid-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: auto;
  gap: 2px;
}


.player {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
} 
