.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
  .form__dropdown {
    margin: 2rem;
    padding: 0.5rem;
    width: 270px;
    background-color: white;
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    outline: none;
    vertical-align: middle;
    margin-right: 1rem;
    color: gray;
    
  }

  .form__select {
    margin: 0.25rem;
    margin-left: 30px;
    padding: 0.5rem;
    width: 100px;
    background-color: white;
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    outline: none;
    vertical-align: middle;
    color: gray;
  }
  .form-input {
    color: gray;
    margin: 1rem;
    padding: 0.5rem;
    width: 290px;
    background-color: white; 
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    outline: none;
    vertical-align: middle;
    margin-right: 1rem;
  }

  .text {
    text-decoration: none;
    color: gray;
  }

